body
{
	background: rgb(252, 231, 255);
}

.game.div
{
	background: white;
	padding: 10px;
	float: none;
	border-radius: 15px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#The-Word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#The-Game{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
